---
import { storyblokEditable, renderRichText } from '@storyblok/astro'
import { Image } from 'astro:assets';

const { blok } = Astro.props
const content = renderRichText(blok.content)

---

<article {...storyblokEditable(blok)}>
  <h1>{blok.title}</h1>
  <p>{blok.description}</p>
  <Image src={blok.image && blok.image.filename} inferSize/>
  <Fragment set:html={content} />
</article>