---
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { blok } = Astro.props;

const contentData = blok.items;
const numberOfColumns = blok.columns;

const columns = Array.from({ length: numberOfColumns }, () => []);

for (let i = 0; i < contentData.length; i++) {
  const arrayIndex = i % numberOfColumns;
  columns[arrayIndex].push(contentData[i]);
}
---

<div class={`grid grid-cols-1 md:grid-cols-${numberOfColumns} gap-4 p-4`}>
  {
    contentData.map((content) => {
      const span = content.Span;
      return (
        <div class={`flex items-center justify-center h-fit ${span}`}>
          <StoryblokComponent blok={content} />
        </div>
      );
    })
  }
</div>
