---
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { blok } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
  {
    blok.links?.map((link) => {
      return <StoryblokComponent blok={link} />;
    })
  }
</div>
