---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import FloatingLayout from '../layouts/FloatingLayout.astro'
import StackedLayout from '../layouts/StackedLayout.astro'

const { blok } = Astro.props;

const meta = blok.meta && blok.Meta[0] || null

const layout = blok.layout || 'layout_stacked';
---
{
  layout === "layout_floating" && (
    <FloatingLayout meta={meta}>
      <main {...storyblokEditable(blok)} class="h-full">
        {blok.body?.map((blok) => {
          return <StoryblokComponent blok={blok} />;
        })}
      </main>
    </FloatingLayout>
  )
}

{
  layout === "layout_stacked" && (
    <StackedLayout meta={meta}>
      <main {...storyblokEditable(blok)} class="h-full">
        {blok.body?.map((blok) => {
          return <StoryblokComponent blok={blok} />;
        })}
      </main>
    </StackedLayout>
  )
}
