---
const { blok } = Astro.props

import { renderRichText } from "@storyblok/js";
const renderedRichText = renderRichText(blok.text);

---
<div class="h-fit w-full flex justify-center items-center">
    <div class="text-center flex gap-y-4 flex-col" set:html={renderedRichText}></div>
</div>
