---
const { blok } = Astro.props;

const images = blok.Files.map((file) => {
  return file.filename;
});
const numberOfColumns = blok.Columns;
const columns = Array.from({ length: numberOfColumns }, () => []);

for (let i = 0; i < images.length; i++) {
  const arrayIndex = i % numberOfColumns;
  columns[arrayIndex].push(images[i]);
}

//TODO better divide the columns to make an even distribution possibily

---
<div class="grid grid-cols-2 md:grid-cols-4 gap-4 mt-4">
  {
    columns.map((column) => 
      <div class="grid gap-4 h-fit">
        {column.map((file) => 
          <div class="h-fit max-w-full rounded-lg">
            <img src={file} />
          </div>
        )}
      </div>
    )
  }
</div>
