---
import { Image } from "astro:assets";
const { blok } = Astro.props;

const images = blok.Files.map((file) => {
  return file.filename;
});
const numberOfColumns = blok.Columns;
const columns = Array.from({ length: numberOfColumns }, () => []);

for (let i = 0; i < images.length; i++) {
  const arrayIndex = i % numberOfColumns;
  columns[arrayIndex].push(images[i]);
}

//TODO better divide the columns to make an even distribution possibily

---
<div class=`grid grid-cols-1 md:grid-cols-${numberOfColumns} gap-4 m-4`>
  {
    columns.map((column) => 
      <div class="grid gap-4 h-fit">
        {column.map((file) => 
          <div class="h-full max-w-full rounded-lg">
            <Image src={`${file}/m/1920x0`} inferSize alt="image" />
          </div>
        )}
      </div>
    )
  }
</div>
