@font-face {
  font-family: "Questrial";
  src: url("/fonts/Questrial-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spinnaker";
  src: url("/fonts/Spinnaker-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
